body {
    font-family: 'Roboto', sans-serif;
    color: #6b4e16;
    background-color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    color: #573731;
}

header {
    background-color: #6D4C41;
    color: #FFFFFF;
}

.nav-link {
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #6D4C41;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    color: #e3c359;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #e3c359;
    cursor: pointer;
}

.footer {
    background-color: #6D4C41;
}

.btn {
    color: #fff;
    border-radius: 0.3rem;
}

.btn:hover {
    color: #fff;
}

.btn-primary {
    background-color: #795548;
    border-color: #6D4C41;
}

.btn-primary:hover {
    background-color: #6D4C41;
    border-color: #5D4037;
}

.form-control, .form-check-input {
    border-radius: 5px;
    border-color: #D7CCC8;
    background-color: #FFF8E1;
}

.form-floating label {
    color: #5D4037;
}

.container {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: #795548;
}

a:hover {
    color: #6D4C41;
    text-decoration: none;
}

.text-coffee {
    color: #6b4e16;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
