@page
@using EShop.Web.Areas.Identity.Pages.Account
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="text-center mb-4">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-4">
        <section class="p-4 rounded shadow-sm" style="background-color: #FFF8E1;">
            <form id="loginForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.PersonalPin" class="form-control" aria-required="true" placeholder="Personal PIN" />
                    <label asp-for="Input.PersonalPin">Personal PIN</label>
                    <span asp-validation-for="Input.PersonalPin" class="text-danger"></span>
                </div>

                <div class="form-check mb-3">
                    <input asp-for="Input.RememberMe" class="form-check-input" />
                    <label asp-for="Input.RememberMe" class="form-check-label text-coffee">Remember me?</label>
                </div>

                <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
